/* fonts */

@font-face {
    font-family: "TTNorms";
    src: url("../fonts/TTNorms-Regular.otf") format("openType");
}

@font-face {
    font-family: "TTNorms Medium";
    src: url("../fonts/TTNorms-Medium.otf") format("openType");
}

@font-face {
    font-family: "TTNorms Light";
    src: url("../fonts/TTNorms-Light.otf") format("openType");
}

@font-face {
    font-family: "Times Roman Italic";
    src: url("../fonts/Times-new-roman-italic.ttf") format("truetype");
}

/* Normalize Css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    text-decoration: none;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    /* 3 */
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/* Start Project */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "TTNorms";
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-top,
.nav,
.menu,
.header-links {
    display: flex;
    align-items: center;
}

.header-top {
    justify-content: space-between;
    padding-top: 1rem;
}

.header-logo {
    margin-right: 2rem;
}

.menu {
    list-style: none;
}

.menu__item {
    padding: 0 1rem;
}

.menu__link {
    color: #081D43;
}

.header__link,
.header-links__item {
    background-color: #0050C8;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 0.3rem;
}

.header__icon,
.menu__icon {
    font-size: 1.8rem;
    display: none;
    cursor: pointer;
}

.menu__icon {
    display: none;
}

.header-bottom {
    margin-top: 3rem;
    display: flex;
}

.header-content {
    padding: 3rem 7rem 0 0;
}

.header-links {
    margin-top: 2rem;
}

.header-links__item {
    display: block;
    width: 11rem;
    text-align: center;
}

.header-links__item:nth-child(1) {
    background-color: #87BC25;
    margin-right: 2rem;
}

.header-banner,
.header-content {
    flex-basis: 50%;
}

.header-banner__img {
    width: 100%;
}

.header__title,
.works__title {
    font-family: "TTNorms Medium";
    color: #081D43;
    font-weight: normal !important;
}

.header__txt,
.works__text {
    color: #6C7890;
    line-height: 1.8rem;
}

.main {
    text-align: center;
}

.works {
    padding: 3rem 0;
}

.works__title {
    margin: 1rem 0;
}

.works-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.works-item__text {
    max-width: 16rem;
}

.works-item__title {
    color: #081D43;
    font-weight: normal !important;
    margin: 1rem 0;
}

.works-banner {
    margin: 3rem auto 0 auto;
    max-width: 31rem;
}

.works-banner__img {
    width: 100%;
}

.person-comments {
    background-color: #0050C8;
    color: #fff;
    text-align: center;
    padding: 1.8rem 0;
}

.comment-title {
    margin: 0.8rem;
}

.comments {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem 0;
    flex-wrap: wrap;
}

.comment {
    flex-basis: 21rem;
    background-color: #fff;
    border-radius: 0.3rem;
    color: #6C7890;
    display: flex;
    flex-direction: column;
}

.person-text_comment {
    text-align: left;
    font-family: "Times Roman Italic";
    padding: 1rem 1.5rem 0 1rem;
    font-size: 18px;
    line-height: 1.8rem;
}

.comment-body {
    padding-bottom: 3rem;
}

.comment-footer {
    padding: 0.7rem 2rem;
    border-top: 1px solid #6c789083;
    display: flex;
    align-items: center;
}

.person-img {
    width: 40px;
    margin-right: 1.5rem;
}

.compony-logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 1.5rem;
}

.portfolio {
    padding: 2.2rem 0;
}

.portfolio-title {
    text-transform: uppercase;
}

.portfolio-text {
    margin: 1rem 0;
}

.portfolio-wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.portfolio-box {
    margin: 0.5rem 0;
    flex-basis: 23rem;
    overflow: hidden;
}

.portfolio-item {
    width: 100%;
    border-radius: 0.3rem;
    object-fit: cover;
}

.footer-about {
    padding: 3rem 0;
    background-color: #0050C8;
}

.footer-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-title {
    display: inline-block;
    color: #fff;
}

.footer-title_text {
    font-weight: normal;
}

.footer-sub {
    display: flex;
}

.sub-wraper {
    display: flex;
    justify-content: space-between;
    flex-basis: 22rem;
    background-color: #fff;
    border-radius: 0.3rem;
    padding: 0.3rem 0.5rem;
    font-size: 18px;
}

.sub-email {
    border: unset;
    outline: none;
    padding: 0.8rem;
    padding-left: 0.3rem;
    flex-grow: 1;
}

.sub-btn {
    border: unset;
    outline: none;
    padding: 0.8rem 1.5rem;
    background-color: #0050C8;
    border-radius: 0.3rem;
    cursor: pointer;
}

.footer-copyright {
    padding: 2rem 0;
}

.copyright-wraper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.copyright-text,
.footer-rights {
    display: inline-block;
}

/* respansiv */

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .comments {
        margin: 1rem 1.2rem;
    }

    .comment {
        margin: 1rem auto;
    }

    .header-bottom {
        margin-top: 2rem;
    }

    .header-content {
        padding-top: 0;
    }

    .header-banner {
        padding-top: 1rem;
    }

    .portfolio-box {
        flex-basis: 28rem;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .header__link {
        display: none;
    }

    .header-banner {
        padding-bottom: 2rem;
        flex-basis: 100%;
    }

    .header-bottom {
        flex-direction: column-reverse;
    }

    .header-content {
        flex-basis: 100%;
        padding: 0;
    }

    .header-links {
        justify-content: space-evenly;
    }

    .works__item {
        margin: 0.5rem auto;
    }

    .logo-box {
        margin: 0.5rem 0.8rem;
    }

    .portfolio-box {
        flex-basis: 20rem;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .header__icon {
        display: block;
    }

    .menu__icon {
        display: flex;
        align-self: end;
        margin-bottom: 1rem;
        color: #fff;
    }

    .menu {
        position: fixed;
        top: 0;
        left: -256px;
        bottom: 0;
        background-color: #3f70e1;
        flex-direction: column;
        width: 13rem;
        padding: 2rem 1rem;
        align-items: start;
        transition: 0.5s all;
    }

    .menu__item {
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
    }

    .menu__link {
        color: #fff;
    }

    .footer-wraper {
        flex-wrap: wrap;
    }

    .footer-title {
        padding-bottom: 1.5rem;
    }

    .portfolio-box {
        flex-basis: 30rem;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 0.2rem;
    }

    .header-links {
        flex-direction: column;
        align-items: center;
    }

    .header-links__item {
        margin: 0.5rem 0 !important;
    }

    .logo-box {
        margin: 1rem 0.8rem;
    }

    .works__title {
        line-height: 2.6rem;
    }

    .footer-wraper {
        justify-content: center;
    }

    .footer-title {
        text-align: center;
    }

    .footer-copyright {
        padding: 1rem 0;
    }

    .copyright-wraper {
        flex-direction: column;
    }

    .copyright-text {
        margin-bottom: 1rem;
    }

    .footer-rights {
        text-align: center;
    }
}

@media only screen and (max-width: 350px) {
    .sub-wraper {
        flex-direction: column;
    }
}